extend layout

block content
  div
  - console.log('Found character 2', comics.length);
  table
    tbody
      - var columns = 10
      - for (var i = 0; i < comics.length; i=i+columns)
        tr
        - for (var j = 0; j < columns && i+j < comics.length; j++)
          td
          img(src="" + images[i+j])
          
