doctype html
html
  head
    title #{title} - Marvel Stuff
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Dave and Eric
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus